* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* sidebar section */
.side-bar {
    grid-column: 1;
    grid-row: 1/3;
    display:grid;
    background-color:#1992d4;
    padding: 15px 20px 20px 15px;
    grid-template-columns: 1fr;
    grid-template-rows:auto auto 1fr;
    gap:35px;
}

.nav-heading {
    display:flex;
    font: 20px bold;
    grid-column:1/2;
    grid-row:1/2;
    align-items: center;
}

.nav-bar {
    /* display:flex; */
    grid-row:2/3;
}

.common-styles {
    list-style-type:none;
    font-size:16px;
    font-weight: 500;
}

.nav-bar ul li {
    display:flex;
    padding-bottom:22px;
    align-items: center;
    margin-left: 8px;
}

.setting-bar {
    grid:3/4;
    padding-top:20px;
}

.setting-bar ul li {
    display:flex;
    padding-bottom: 22px;
    align-items: center;
    margin-left: 8px;
}

/* header */

.header {
    grid-column: 2/3;
    grid-row:1;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
}

.top-header {
    grid-row:1/2;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#searchform {
    display:flex;
    /* padding: 0px 0px 0px 20px; */
    /* align-items: center; */
}

.search-input {
    margin-left:10px;
    padding-left: 15px;
    width:min(500px,45vw);
    height:30px;
    border:none;
    border-radius: 15px;
    background-color:#d1d5db;
    
}

.profile-header {
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
    width: clamp(200px, 20vw, 400px);
    margin-left:25px;
    margin-right:35px;
    font-weight: bold;
}

.bottom-header {
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}

.profile-display {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right:12px;
    margin-bottom:20px;
    flex-wrap: wrap;
    gap:15px;
}

.make-post {
    display: flex;
    justify-content: space-between;
    width: clamp(250px, 25vw, 300px);
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.btn {
    color:black;
    font-weight: 700;
    background:#89CFF0;
    width:75px;
    height:30px;
    border:none;
    border-radius: 15px;
}

/* main */

.main {
    background-color: #e2e8f0;
    grid-column: 2/3;
    grid-row:2/3;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 20px 50px 20px;
    max-height:100%;
}

.heading {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
}

.project-display {
    grid-column:1/2;
    grid-row:1/3;
    margin-right:25px;
}

.project-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.project {
    background-color: white;
    width:100%;
    height:180px;
    border-radius: 5px;
    padding:10px;
    background-image: linear-gradient(to right, orange 0% 2%, white 2% 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

.project-content {
    padding:10px;
    font-size:13px;
}

.project-heading {
    font-weight:600;
    font-size:16px;
    /* align-content: end; */
}

.project-interact-container {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.interactions {
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
    gap:5px;
}

.announcements {
    grid-column: 2/3;
    grid-row:1/2;
    padding-bottom: 10px;
}

.common-heading {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
}

.announcements-container {
    background-color: white;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 230px;
}

.announcement-header {
    font-weight:600;
    font-size:13px;
    margin-bottom: 4px;
    padding-top:10px;
}

.announcement-description{
    font-size:11px;
    color:#606060;
    margin-bottom:20px;
}

.trending {
    grid-column:2/3;
    grid-row:2/3;
}

.trending-container {
    background-color: white;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    min-width: 230px;
}

.trending-profile {
    display:flex;
    align-items: center;
    padding-bottom:15px;
}

.trending-profile img {
    margin-right: 10px;
}

.username {
    font-size:12px;
    font-weight:600;
    color:black;
}

.project-name {
    font-size: 12px;
    color:#363636;
    width:100%;
}